# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\开源项目学习\自框架\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
